.git
.github
.idea
.vscode
.DS_Store

bin
coverage.out
coverage.html
benchmarks
docs
scripts
tests

.env
.env.*
**/.env
**/.env.*
*.key
**/*.key
*.pem
**/*.pem
*.p12
**/*.p12
*.pfx
**/*.pfx
secrets
**/secrets

*.db
*.db-*
*.sqlite
*.sqlite-*
raw
**/raw
